* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0b0b0b;
  color: #ffffff;
  line-height: 1.6;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  border-bottom: 1px solid #1f1f1f;
}
.navbar span {
  color: whitesmoke;
  font-family: "sacramento", cursive;

}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #ff6a00;
  font-family: "Sacramento", cursive;
  letter-spacing: 2px;
}

.navbar nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  padding: 8px 8%;
  gap: 50px;
}

.hero-text {
  flex: 1;
}

.tag {
  color: #ff6a00;
  font-size: 14px;
}

.accent {
  color: #ff6a00;
}
.hero-image {
  height: 200px;
  width: 200px;
  margin-left: 200px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 55px rgb(255, 106, 0);
}
.imgg{
  width: 100%;
  height: 100%;
  border-radius: 0%;
  object-fit: cover;
  position: absolute;
  }  

/* BUTTONS */
.btn {
  margin-top: 18px;
  padding: 12px 28px;
  background: #ff6a00;
  color: #000;
  border: none;
  cursor: pointer;
}

.btn.outline {
  background: transparent;
  border: 2px solid #ff6a00;
  color: #ff6a00;
}

/* ABOUT */
.about {
  display: flex;
  align-items: center;
  padding: 30px 8%;
  gap: 30px;
  background: #0f0f0f;
  margin-right: 222px;
}

.about-image{
  height: 200px;
  width: 200px;
  margin-left: 200px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 55px rgb(255, 106, 0);}
.about-imgg{
  width: 100%;
  height: 100%;
  border-radius: 0%;
  position: absolute;
  top: 10px;
  }

@media ( max-width: 430px){
    .about-image{
        position: absolute;
        right: 20px;
        bottom: 50px;
    }   
    .about-imgg{
        position: absolute;
        top: 10px;
    }
}
@media (min-width: 1200px) {
    .about-image{
        width: 200px;
        position: absolute;
        right: 100px;
        margin-top: 20px;
    }
}
  

/* SKILLS */
.skills {
  padding: 1px 8%;
}

.skills h2 {
  margin-bottom: 30px;
}

.skill {
  margin-bottom: 15px;
}

.bar {
  background: #1f1f1f;
  height: 6px;
  border-radius: 5px;
  overflow: hidden;
}

.bar div {
  height: 100%;
  background: #ff6a00;
}

/* SERVICES */
.services {
  padding: 40px 8%;
  background: #0f0f0f;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.service {
  background:#ff6a00 ;
  color: white;
  padding: 25px;
  border-radius: 15px;
}

.service.active {
  background: #ff6a00;
  color: #000;
}
.service:hover {
  background: #000;
  color: #fff;
  border: solid 2px whitesmoke;
}

/* PROJECTS */
.projects {
  padding: 80px 8%;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 35px;
}
.projects-grid img:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}
@media (max-width: 430px) {
    .projects-grid {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        gap: 45px;
    }
}

.projects-grid img {
  width: 100%;
  height: 170px;
  background: #1a1a1a;
  object-fit: cover;
  border-radius: 10px;
}


/* CONTACT */
.contact {
  padding: 10px 8%;
  background: #0f0f0f;
}

.contact form {
  max-width: 500px;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  background: rgba(255, 255, 255, 0.824);
  border: 1px solid #2a2a2a;
  color: black;
}

.btn:hover {
  background: #e65c00;
  color: #fff;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #aaa;
  border-top: 1px solid #1f1f1f;
}

/* MOBILE */
@media (max-width: 768px) {
  .hero,
  .about {
    flex-direction: column;
  }

  .hero-image img,
  .about-image img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
}
